#patient_kabinet {
  .sideBar {
    margin-top: 1rem;
    .relative {
      margin-top: 1.5rem;
      button {
        border: none;
        color: white;
        display: none;
        align-items: center;
        justify-content: center;
        padding: 0.4rem 0.5rem;
        border-radius: 5px;
        background-color: #58bbe5;
        transition: all 0.6s;
        &:hover {
          background-color: #0086c9b1;
        }
        &:active {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
      .menu-btn {
        padding: 0.5rem 1rem;
        width: 100%;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        i {
          display: flex;
          font-size: 1.2rem;
          opacity: 0;
          transition: all 0.6s;
        }
        &:hover {
          i {
            opacity: 1;
          }
        }
      }
      .menu-btn-i {
        background-color: #0086c9b1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      ul {
        border-radius: 10px;
        padding: 1rem 1rem 1rem 1rem;
        background-color: #58bbe5;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        li {
          width: 220px;
        }
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    .headDoctorKabinet {
      overflow: hidden;
      display: flex;

      .mainSec {
        margin-top: 1rem;
        width: 100%;

        .ownProfileB {
          background-color: #8ac4d04a;
          width: 100%;
          margin-top: 0.5rem;
          border: none;
          border-radius: 10px;
          padding: 1rem 1.2rem;
          display: flex;
          gap: 4rem;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          .imgName {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            .img {
              margin-top: 0.5rem;
              width: 300px;
              border-radius: 10px;
              padding: 1rem;
              box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
                rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
              img {
                width: 100%;
              }
            }
            h2 {
              width: 300px;
              color: #1b96d2;
              font-weight: 500;
            }
          }
          .about {
            width: 300px;
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            p {
              margin-top: 0.5rem;
              width: 300px;
              color: #585b5c;
              font-size: 1.1rem;
              span {
                font-size: 1.2rem;
                color: #1b96d2;
              }
            }
          }
        }
        .PR {
          background-color: #8ac4d02d;
          border: none;
          border-radius: 10px;
          padding: 1rem 1.2rem;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          margin-top: 0.5rem;
          .partnerProfile {
            width: 100%;
            display: flex;
            .imgName {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              flex-direction: column;
              gap: 1rem;
              .img {
                margin-top: 0.5rem;
                width: 170px;
                border-radius: 10px;
                padding: 1rem;
                box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
                  rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
                img {
                  width: 100%;
                }
              }
              h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                  color: #1b96d2;
                  font-size: 1.3rem;
                }
                font-size: 1.3rem;
                width: 200px;
                color: #1b96d2;
                font-weight: 600;
              }
            }
            .about {
              width: 300px;
              p {
                margin-top: 0.5rem;
                width: 200px;
                color: #585b5c;
                font-size: 1.1rem;
                span {
                  font-size: 1.1rem;
                  color: #1b96d2;
                }
              }
            }
          }
          .messageField {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            input {
              margin-top: 1rem;
              border: none;
              padding: 0.7rem 2rem;
              border-radius: 10px;
              transition: all 0.6s;
              color: #1b96d2;
              &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
              }
              &::placeholder {
                color: #1b96d2;
                font-size: 1rem;
              }
            }
            button {
              margin-top: 1rem;
              border: none;
              padding: 0.7rem 2rem;
              border-radius: 10px;
              transition: all 0.6s;
              color: white;
              background-color: #1b95d2b7;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.2rem;
              &:hover {
                background-color: #1b96d2;
              }
            }
          }
        }
      }
    }
    .bodyDoctorKabinet {
      .newsDoctor {
        h2 {
          margin-left: 0.5rem;
          color: #1b96d2;
        }
        border-radius: 10px;
        min-height: 360px;
        background-color: #1b95d227;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
          rgba(17, 17, 26, 0.05) 0px 8px 32px;
        .news {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 10px;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          background-color: #58bae42d;
          padding: 0.5rem;
          .content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            .img {
              width: 100px;
              height: 60px;
              border-radius: 10px;
              overflow: hidden;
              box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
                rgba(17, 17, 26, 0.05) 0px 8px 32px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .text {
              p {
                color: #585b5c;
              }
            }
          }
          .actions {
            .btnAction {
              border: none;
              padding: 0.5rem 1rem;
              border-radius: 7px;
              background-color: #1b95d2b9;
              color: white;
              transition: all 0.6s;
              box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
                rgba(17, 17, 26, 0.05) 0px 8px 32px;
              &:hover {
                background-color: #1b95d2;
              }
            }
          }
        }
      }
      .notificationDoctor {
        h2 {
          color: #1b96d2;
        }
        background-color: #53b7e621;
        border-radius: 10px;
        min-height: 350px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
          rgba(17, 17, 26, 0.05) 0px 8px 32px;
        .notif {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #1b95d225;
          padding: 1rem;
          border-radius: 10px;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          .content {
            .text {
              display: flex;
              justify-content: center;
              p {
                color: #1b95d2;
                font-size: 1.1rem;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                i {
                  margin-top: 5px;
                  font-size: 1.4rem;
                  color: red;
                }
                .sec {
                  color: green;
                  font-size: 1.5rem;
                }
              }
            }
          }
          .actions {
            color: red;
            padding: 0.5rem;
            font-size: 1.1rem;
            font-weight: 600;
          }
          .personal {
            color: green;
            font-size: 1rem;
            width: 100px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .contentPatients {
    display: flex;
    gap: 1rem;
    .sider {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: #1b95d21a;
      padding: 1rem;
      border-radius: 10px;
      margin-top: 1rem;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
      .patient {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
        border-radius: 10px;
        //   background-color: #8ac4d03c;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
          rgba(17, 17, 26, 0.05) 0px 8px 32px;
        .first {
          display: flex;
          gap: 1rem;
          .icon {
            font-size: 1.4rem;
            display: flex;
            color: #0085c9;
          }
          .text {
            font-size: 1.1rem;
            color: #0085c9;
          }
        }
        .btn {
          button {
            border: none;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            background-color: #0086c9c0;
            color: white;
            transition: all 0.6s;
            &:hover {
              background-color: #0085c9;
            }
          }
        }
      }
    }
    .paBody {
      margin-top: 0.5rem;
      width: 100%;
      .patientInfo {
        width: 97%;
        display: flex;
        gap: 1rem;
        .ownProfile {
          background-color: #8ac4d04a;
          width: 100%;
          margin-top: 0.5rem;
          border: none;
          border-radius: 10px;
          padding: 1rem 1.2rem;
          display: flex;
          gap: 1rem;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          .imgName {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            .img {
              margin-top: 0.5rem;
              width: 200px;
              border-radius: 10px;
              padding: 1rem;
              box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
                rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
              img {
                width: 100%;
              }
            }
            h2 {
              width: 220px;
              color: #1b96d2;
              font-weight: 500;
            }
          }
          .about {
            width: 350px;
            p {
              margin-top: 0.5rem;
              width: 100%;
              color: #585b5c;
              font-size: 1.1rem;
              span {
                font-size: 1.2rem;
                color: #1b96d2;
              }
            }
          }
          .sendNotifcation {
            h2 {
              color: #0085c9;
              font-size: 2rem;
            }
            .form {
              margin-top: 2rem;
              form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                input {
                  width: 400px;
                  border: none;
                  padding: 1rem 2rem;
                  border-radius: 10px;
                  color: #0085c9;
                  &:focus {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                  }
                  &::placeholder {
                    color: #0085c9;
                  }
                }
                select {
                  width: 400px;
                  border: none;
                  padding: 1rem 2rem;
                  border-radius: 10px;
                  color: #0085c9;
                  &:focus {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                  }
                }

                button {
                  border: none;
                  padding: 0.5rem 1rem;
                  border-radius: 10px;
                  background-color: #0086c9aa;
                  transition: all 0.6s;
                  color: white;
                  &:hover {
                    background-color: #0085c9;
                  }
                }
              }
            }
          }
        }
        .pProfile {
          background-color: #8ac4d04a;
          width: 335px;
          height: 98%;
          margin-top: 0.5rem;
          border: none;
          border-radius: 10px;
          padding: 1rem 1.2rem;
          gap: 1rem;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .head {
            h2 {
              color: #0085c9;
              font-weight: 500;
            }
          }
          .about {
            width: 100%;
            ul {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              width: 100%;
              li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                  font-size: 1.1rem;
                  color: #585b5c;
                }
              }
            }
          }
        }
      }
      .paInside {
        .x {
          display: flex;
          gap: 1rem;
          .checkUpGraph {
            width: 100%;
            .cProfile {
              width: 100%;
              margin-top: 1rem;
              border-radius: 10px;
              background-color: #ddeef18a;
              padding: 1rem;
              box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
                rgba(17, 17, 26, 0.05) 0px 8px 32px;
              .head {
                h2 {
                  color: #0085c9;
                  font-weight: 500;
                }
              }
              .about {
                background-color: #1b95d22b;
                padding: 1rem;
                border-radius: 10px;
                ul {
                  li {
                    p {
                      color: #585b5c;
                      display: flex;
                      align-items: center;
                      span {
                        color: #0085c9;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .errorMesage {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      color: red;
    }
  }
  .News {
    h1 {
      color: #0085c9;
      margin-left: 1rem;
      margin-top: 1rem;
      font-size: 3rem;
    }
    .news {
      width: 100%;
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      border-radius: 10px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
      background-color: #1b95d214;
      .content {
        width: 100%;
        height: 100%;
        .img {
          width: 100%;
          img {
            height: 100%;
            border-radius: 10px;
            width: 100%;
          }
        }
        .text {
          color: #0085c9;
        }
      }
      .actions {
        p {
          opacity: 0.4;
        }
        button {
          margin-top: 1rem;
          border: none;
          padding: 0.5rem 1rem;
          background-color: #0086c9b0;
          border-radius: 10px;
          color: white;
          transition: all 0.6s;
          &:hover {
            background-color: #0086c9fa;
          }
        }
      }
    }
  }
  .NewsO {
    margin-top: 1rem;
    h1 {
      color: #1b96d2;
      font-size: 2rem;
      margin-left: 1rem;
    }
    background-color: #53b7e621;
    border-radius: 10px;
    min-height: 350px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    .notif {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #1b95d225;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
      .content {
        .text {
          display: flex;
          justify-content: center;
          p {
            color: #1b95d2;
            font-size: 1.1rem;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            i {
              margin-top: 5px;
              font-size: 1.4rem;
              color: green;
            }
            .sec {
              color: red;
              font-size: 1.5rem;
            }
          }
        }
      }
      .actions {
        color: red;
        padding: 0.5rem;
        font-size: 1.1rem;
        font-weight: 600;
        button {
          border: none;
          padding: 0.5rem 1rem;
          background-color: red;
          border-radius: 10px;
          color: white;
          cursor: pointer;
          transition: all 0.6s;
          &:hover {
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
              rgba(17, 17, 26, 0.05) 0px 8px 32px;
          }
        }
      }
      .personal {
        color: green;
        font-size: 1rem;
        width: 100px;
        font-weight: 600;
        button {
          border: none;
          padding: 0.5rem 1rem;
          background-color: red;
          border-radius: 10px;
          color: white;
          cursor: pointer;
          transition: all 0.6s;
          &:hover {
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
              rgba(17, 17, 26, 0.05) 0px 8px 32px;
          }
        }
      }
    }
    .sendNotifcation {
      h2 {
        color: #0085c9;
        font-size: 2rem;
      }
      .form {
        margin-top: 2rem;
        form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          input {
            width: 400px;
            border: none;
            padding: 1rem 2rem;
            border-radius: 10px;
            color: #0085c9;
            &:focus {
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            &::placeholder {
              color: #0085c9;
            }
          }
          select {
            width: 400px;
            border: none;
            padding: 1rem 2rem;
            border-radius: 10px;
            color: #0085c9;
            &:focus {
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
          }

          button {
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            background-color: #0086c9aa;
            transition: all 0.6s;
            color: white;
            &:hover {
              background-color: #0085c9;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  #patient_kabinet {
    .sideBar {
      margin-top: 1rem;
      .relative {
        margin-top: 1.5rem;
        padding:1rem;
        button {
          border: none;
          color: white;
          display: none;
          align-items: center;
          justify-content: center;
          padding: 0.4rem 0.5rem;
          border-radius: 5px;
          background-color: #58bbe5;
          transition: all 0.6s;
          &:hover {
            background-color: #0086c9b1;
          }
          &:active {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          }
        }
        .menu-btn {
          padding: 0.5rem 1rem;
          width: 100%;
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          text-align: center;
          i {
            display: flex;
            font-size: 1.2rem;
            opacity: 0;
            transition: all 0.6s;
          }
          &:hover {
            i {
              opacity: 1;
            }
          }
        }
        .menu-btn-i {
          background-color: #0086c9b1;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        ul {
          border-radius: 10px;
          padding: 1rem 1rem 1rem 1rem;
          background-color: #58bbe5;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          li {
            width: 220px;
          }
        }
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      .headDoctorKabinet {
        overflow: hidden;
        display: flex;
  
        .mainSec {
          margin-top: 1rem;
          width: 100%;
  
          .ownProfileB {
            background-color: #8ac4d04a;
            width: 100%;
            margin-top: 0.5rem;
            border: none;
            border-radius: 10px;
            padding: 1rem 1.2rem;
            display: flex;
            gap: 4rem;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
              rgba(17, 17, 26, 0.05) 0px 8px 32px;
            .imgName {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              flex-direction: column;
              gap: 1rem;
              .img {
                margin-top: 0.5rem;
                width: 300px;
                border-radius: 10px;
                padding: 1rem;
                box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
                  rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
                img {
                  width: 100%;
                }
              }
              h2 {
                width: 300px;
                color: #1b96d2;
                font-weight: 500;
              }
            }
            .about {
              width: 300px;
              display: flex;
              gap: 0.5rem;
              flex-direction: column;
              p {
                margin-top: 0.5rem;
                width: 300px;
                color: #585b5c;
                font-size: 1.1rem;
                span {
                  font-size: 1.2rem;
                  color: #1b96d2;
                }
              }
            }
          }
          .PR {
            background-color: #8ac4d02d;
            border: none;
            border-radius: 10px;
            padding: 1rem 1.2rem;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
              rgba(17, 17, 26, 0.05) 0px 8px 32px;
            margin-top: 0.5rem;
            .partnerProfile {
              width: 100%;
              display: flex;
              .imgName {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;
                .img {
                  margin-top: 0.5rem;
                  width: 170px;
                  border-radius: 10px;
                  padding: 1rem;
                  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
                    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
                  img {
                    width: 100%;
                  }
                }
                h2 {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  a {
                    color: #1b96d2;
                    font-size: 1.3rem;
                  }
                  font-size: 1.3rem;
                  width: 200px;
                  color: #1b96d2;
                  font-weight: 600;
                }
              }
              .about {
                width: 300px;
                p {
                  margin-top: 0.5rem;
                  width: 200px;
                  color: #585b5c;
                  font-size: 1.1rem;
                  span {
                    font-size: 1.1rem;
                    color: #1b96d2;
                  }
                }
              }
            }
            .messageField {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 1rem;
              input {
                margin-top: 1rem;
                border: none;
                padding: 0.7rem 2rem;
                border-radius: 10px;
                transition: all 0.6s;
                color: #1b96d2;
                &:hover {
                  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }
                &::placeholder {
                  color: #1b96d2;
                  font-size: 1rem;
                }
              }
              button {
                margin-top: 1rem;
                border: none;
                padding: 0.7rem 2rem;
                border-radius: 10px;
                transition: all 0.6s;
                color: white;
                background-color: #1b95d2b7;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                &:hover {
                  background-color: #1b96d2;
                }
              }
            }
          }
        }
      }
      .bodyDoctorKabinet {
        .newsDoctor {
          h2 {
            margin-left: 0.5rem;
            color: #1b96d2;
          }
          border-radius: 10px;
          min-height: 360px;
          background-color: #1b95d227;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          .news {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
              rgba(17, 17, 26, 0.05) 0px 8px 32px;
            background-color: #58bae42d;
            padding: 0.5rem;
            .content {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;
              .img {
                width: 100px;
                height: 60px;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
                  rgba(17, 17, 26, 0.05) 0px 8px 32px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .text {
                p {
                  color: #585b5c;
                }
              }
            }
            .actions {
              .btnAction {
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 7px;
                background-color: #1b95d2b9;
                color: white;
                transition: all 0.6s;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
                  rgba(17, 17, 26, 0.05) 0px 8px 32px;
                &:hover {
                  background-color: #1b95d2;
                }
              }
            }
          }
        }
        .notificationDoctor {
          h2 {
            color: #1b96d2;
          }
          background-color: #53b7e621;
          border-radius: 10px;
          min-height: 350px;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          .notif {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #1b95d225;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
              rgba(17, 17, 26, 0.05) 0px 8px 32px;
            .content {
              .text {
                display: flex;
                justify-content: center;
                p {
                  color: #1b95d2;
                  font-size: 1.1rem;
                  font-weight: 500;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 0.5rem;
                  i {
                    margin-top: 5px;
                    font-size: 1.4rem;
                    color: red;
                  }
                  .sec {
                    color: green;
                    font-size: 1.5rem;
                  }
                }
              }
            }
            .actions {
              color: red;
              padding: 0.5rem;
              font-size: 1.1rem;
              font-weight: 600;
            }
            .personal {
              color: green;
              font-size: 1rem;
              width: 100px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .contentPatients {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .sider {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #1b95d21a;
        padding: 1rem;
        border-radius: 10px;
        margin-top: 1rem;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
          rgba(17, 17, 26, 0.05) 0px 8px 32px;
        .patient {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
          padding: 1rem;
          border-radius: 10px;
          //   background-color: #8ac4d03c;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          .first {
            display: flex;
            gap: 1rem;
            .icon {
              font-size: 1.4rem;
              display: flex;
              color: #0085c9;
            }
            .text {
              font-size: 1.1rem;
              color: #0085c9;
            }
          }
          .btn {
            button {
              border: none;
              border-radius: 10px;
              padding: 0.5rem 1rem;
              background-color: #0086c9c0;
              color: white;
              transition: all 0.6s;
              &:hover {
                background-color: #0085c9;
              }
            }
          }
        }
      }
      .paBody {
        margin-top: 0.5rem;
        width: 100%;
        .patientInfo {
          width: 97%;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding-left: 1rem;
          .ownProfile {
            background-color: #8ac4d04a;
            width: 100%;
            margin-top: 0.5rem;
            border: none;
            border-radius: 10px;
            padding: 1rem 1.2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
              rgba(17, 17, 26, 0.05) 0px 8px 32px;
            .imgName {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              flex-direction: column;
              gap: 1rem;
              .img {
                margin-top: 0.5rem;
                width: 250px;
                border-radius: 10px;
                padding: 1rem;
                box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
                  rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
                img {
                  width: 100%;
                }
              }
              h2 {
                width: 320px;
                color: #1b96d2;
                font-weight: 500;
              }
            }
            .about {
              width: 350px;
              p {
                margin-top: 0.5rem;
                width: 100%;
                color: #585b5c;
                font-size: 1.1rem;
                span {
                  font-size: 1.2rem;
                  color: #1b96d2;
                }
              }
            }
            .sendNotifcation {
              h2 {
                color: #0085c9;
                font-size: 2rem;
              }
              .form {
                margin-top: 2rem;
                form {
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;
                  input {
                    width: 100%;
                    border: none;
                    padding: 1rem 2rem;
                    border-radius: 10px;
                    color: #0085c9;
                    &:focus {
                      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                    &::placeholder {
                      color: #0085c9;
                    }
                  }
                  select {
                    width: 400px;
                    border: none;
                    padding: 1rem 2rem;
                    border-radius: 10px;
                    color: #0085c9;
                    &:focus {
                      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                  }
  
                  button {
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                    background-color: #0086c9aa;
                    transition: all 0.6s;
                    color: white;
                    &:hover {
                      background-color: #0085c9;
                    }
                  }
                }
              }
            }
          }
          .pProfile {
            background-color: #8ac4d04a;
            width: 380px;
            height: 98%;
            margin-top: 0.5rem;
            border: none;
            border-radius: 10px;
            padding: 1rem 1.2rem;
            gap: 1rem;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
              rgba(17, 17, 26, 0.05) 0px 8px 32px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .head {
              h2 {
                color: #0085c9;
                font-weight: 500;
              }
            }
            .about {
              width: 100%;
              ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 100%;
                li {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
  
                  p {
                    font-size: 1.1rem;
                    color: #585b5c;
                  }
                }
              }
            }
          }
        }
        .paInside {
          .x {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .checkUpGraph {
              width: 100%;
              padding:1rem;
              .cProfile {
                padding:1rem;
                width: 100%;
                margin-top: 1rem;
                border-radius: 10px;
                background-color: #ddeef18a;
                padding: 1rem;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
                  rgba(17, 17, 26, 0.05) 0px 8px 32px;
                .head {
                  h2 {
                    color: #0085c9;
                    font-weight: 500;
                  }
                }
                .about {
                  background-color: #1b95d22b;
                  padding: 1rem;
                  border-radius: 10px;
                  ul {
                    li {
                      p {
                        color: #585b5c;
                        display: flex;
                        align-items: center;
                        span {
                          color: #0085c9;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .errorMesage {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        color: red;
      }
    }
    .News {
      h1 {
        color: #0085c9;
        margin-left: 1rem;
        margin-top: 1rem;
        font-size: 3rem;
      }
      .news {
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 10px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
          rgba(17, 17, 26, 0.05) 0px 8px 32px;
        background-color: #1b95d214;
        .content {
          width: 100%;
          height: 100%;
          .img {
            width: 100%;
            img {
              height: 100%;
              border-radius: 10px;
              width: 100%;
            }
          }
          .text {
            color: #0085c9;
          }
        }
        .actions {
          p {
            opacity: 0.4;
          }
          button {
            margin-top: 1rem;
            border: none;
            padding: 0.5rem 1rem;
            background-color: #0086c9b0;
            border-radius: 10px;
            color: white;
            transition: all 0.6s;
            &:hover {
              background-color: #0086c9fa;
            }
          }
        }
      }
    }
    .NewsO {
      margin: 1rem;
      h1 {
        color: #1b96d2;
        font-size: 2rem;
        margin-left: 1rem;
      }
      background-color: #53b7e621;
      border-radius: 10px;
      min-height: 350px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      padding:1rem;
      gap: 1rem;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
      .notif {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1b95d225;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
          rgba(17, 17, 26, 0.05) 0px 8px 32px;
        .content {
          .text {
            display: flex;
            justify-content: center;
            p {
              color: #1b95d2;
              font-size: 1.1rem;
              font-weight: 500;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              i {
                margin-top: 5px;
                font-size: 1.4rem;
                color: green;
              }
              .sec {
                color: red;
                font-size: 1.5rem;
              }
            }
          }
        }
        .actions {
          color: red;
          padding: 0.5rem;
          font-size: 1.1rem;
          font-weight: 600;
          button {
            border: none;
            padding: 0.5rem 1rem;
            background-color: red;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            transition: all 0.6s;
            &:hover {
              box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
                rgba(17, 17, 26, 0.05) 0px 8px 32px;
            }
          }
        }
        .personal {
          color: green;
          font-size: 1rem;
          width: 100px;
          font-weight: 600;
          button {
            border: none;
            padding: 0.5rem 1rem;
            background-color: red;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            transition: all 0.6s;
            &:hover {
              box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
                rgba(17, 17, 26, 0.05) 0px 8px 32px;
            }
          }
        }
      }
      .sendNotifcation {
        h2 {
          color: #0085c9;
          font-size: 2rem;
        }
        .form {
          margin-top: 2rem;
          form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            input {
              width: 100%;
              border: none;
              padding: 1rem 2rem;
              border-radius: 10px;
              color: #0085c9;
              &:focus {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              }
              &::placeholder {
                color: #0085c9;
              }
            }
            select {
              width: 400px;
              border: none;
              padding: 1rem 2rem;
              border-radius: 10px;
              color: #0085c9;
              &:focus {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              }
            }
  
            button {
              border: none;
              padding: 0.5rem 1rem;
              border-radius: 10px;
              background-color: #0086c9aa;
              transition: all 0.6s;
              color: white;
              &:hover {
                background-color: #0085c9;
              }
            }
          }
        }
      }
    }
  }
}
